.header {
    width: 100%;
}

.subheader {
    width: 100%;
}

.paragraph {
    width: 100%;
}

.paragraph:not(:last-child) {
    margin-bottom: 16px;
}

.list-container {
    width: 85%;
    margin-top: 0;
}

.list-item:not(:last-child) {
    margin-bottom: 8px;
}

.image-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    object-fit: contain;
    max-width: 55vw;
    max-height: 30vh;
}

.image-caption {
    color: #444;
    text-align: center;
    margin: 8px 0;
    max-width: min(70%, 700px);
}

.presentation-container {
    align-self: center;
    max-width: 90vw;
    max-height: 80vh;
}

.centered-text {
    text-align: center;
}
