.dialog-background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000a;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-hidden {
    display: none;
}

.paper {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    max-width: min(40vw, 800px);
    max-height: 80vh;
    overflow-y: auto;
}
