:root {
    --primary-color: #611313;
}

body {
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: Roboto, sans-serif;
    font-size: 1.3em;
    font-weight: 200;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

a {
    color: #eee;
    text-decoration: none;
}

.row .col {
    padding: 0 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #eee;
    font-weight: 200;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.3em;
}

::-webkit-scrollbar {
    background-color: rgba(255,255,255,0.1);
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.5);
    width: 0px;
    height: 0px;
}

/* Clear Spaces */
.clear0 {
    width: 100%;
    clear: both;
}

.clear20 {
    min-height: 20px;
    width: 100%;
    clear: both;
}

.clear40 {
    min-height: 40px;
    width: 100%;
    clear: both;
}

.clear60 {
    min-height: 60px;
    width: 100%;
    clear: both;
}

.clear80 {
    min-height: 80px;
    width: 100%;
    clear: both;
}

.clear100 {
    min-height: 100px;
    width: 100%;
    clear: both;
}


#sketchCanvas {
    width: 100%;
    height: 100%;
    background: #000000 url('../images/geo-default.jpg') no-repeat;
    background-size: 100vw;
    background-position: 0% 0%;
    cursor: crosshair;
}

/* Sidebar */

.sidenav {
    background-color: var(--primary-color);
    color: rgb(238, 238, 238);
}

.sidenav li>a {
    color: #eee;
    font-size: 24px;
    height: 60px;
    padding-top: 5px;
    font-weight: 300;
}

.sidenav li>a:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    transition-duration: 0.5s;
}

.sidenav .user-view {
    height: 80px;
    margin: 10px 20px 40px 20px;
}

#sidenav-overlay {
    background-color: rgba(0,0,0,0.6);
    opacity: 0.7;
}

.sidenav li>a>i, .sidenav li>a>i.material-icons {
    margin: 0 20px 0 0;
}

.toggle-menu {
    position: fixed;
    z-index: 4;
    top: -90px;
    left: -90px;
    height: 180px;
    width: 180px;
    background: var(--primary-color);
    background-size: 30% 30%;
    background-position: 80% 80%;
    border-radius: 90px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
    overflow: hidden;
     
}

#toggleButton {
    position: fixed;
    z-index: 4;
    top: -90px;
    left: -90px;
    height: 180px;
    width: 180px;
    background-color: var(--primary-color);
    border-radius: 90px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
    overflow: hidden;
}

#toggleButton.active {
    top: -240px;
    left: -240px;
    height: 480px;
    width: 480px;
    border-radius: 240px;
    transition-duration: 0.5s;
}

#toggleButton:hover {
    opacity: 0.7;
    transition-duration: 0.5s;
}

.fossilEmblem {
    height: 50px;
    width: 50px;
    position: fixed;
    left: 20px;
    top: 20px;
    background-image: url('../images/icons/emblem.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logout {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 20px;
    top: 90px;
    background-image: url('../images/icons/emblem.svg');
}

.loginLogo {
	width: 800px;
	height: 200px;
	margin: 0 auto 0 auto;
}

.srlLogo {
    width: 400px;
    height: 100px;
    margin: 30px auto 0 auto;
    background: url('../images/srl-logo.png') no-repeat;
    background-size: cover;
}

.loginBox {
    max-width: 300px;
    margin: 60px auto 0 auto;
    border-radius: 5px;
    
}

.login-button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-size: 1.1em;
}

.register-button {
    width: 260px;
    margin-bottom: 10px;
}

.reset-button {
    background-color: rgba(0,0,0,0.3);
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.login-button:hover, .reset-button:hover, .register-button:hover  {
    opacity: 0.6;
    transition-duration: 0.5s;
}

#registerOverlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    z-index: -1;
    position: fixed;
    transition-duration: 0.5s;
    overflow-y: hidden;
}

#registerOverlay.active {
    opacity: 1;
    overflow-y: auto;
    z-index: 1000;
    transition-duration: 0.5s;
}

#exitProfile {
    height: 5em;
    width: 5em;
    background-image: url('../images/icons/exit.svg');
    top: 2em;
    right: 2em;
    position: fixed;
}




.filters {
    position: fixed;
    top: 340px;
    left: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filters li {
    background-color: rgba(0,0,0,0.2);
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    opacity: 0.7;
}

.filters li.active {
    border-right: 3px solid #ffffff;
    opacity: 1;
}

#A {
    background-color: #a51c1c;
}

#B {
    background-color: #c27c21;
}

#C {
    background-color: #c0bd27;
}

#D {
    background-color: #26c221;
}

#E {
    background-color: #21c2ad;
}

#F {
    background-color: #2421c2;
}

#G {
    background-color: #9c21c2;
}

/* Tools */

.tools {
    height: 200px;
    width: 50px;
    position: fixed;
    top: 100px;
    left: 20px;
    background-color: rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tools li {
    height: 50px;
    width: 50px;
}

.tools li.active {
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#erase {
    background-image: url('../images/icons/eraser.svg');
}

#lineSketch {
    background-image: url('../images/icons/line.svg');
}

#dottedSketch {
    background-image: url('../images/icons/dotted.svg');
}

#areaSketch {
    background-image: url('../images/icons/area.svg');
}