.comparison-tool-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, min(30vw, 600px));
}

.comparison-tool-container > :not(:last-child) {
    margin-right: 16px;
}

.header {
    padding-bottom: 0;
    text-align: center;
}

.subheader {
    text-align: center;
    color: #444;
    padding-bottom: 4px;
}

.accuracy-header {
    text-align: center;
}
