.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    bottom: calc(100% + 4px);
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
    background-color: #000d;
    white-space: nowrap;
    padding: 4px 8px;
    color: #eee;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 300px;
}

.sublabel-text {
    padding-top: 4px;
    white-space: normal;
}
