.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.header-title {
    grid-column-start: 2;
}

.course-action-buttons {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    align-items: flex-end;
}

.dialog-content > :not(:last-child) {
    margin-bottom: 16px;
}

.submit-code-button-container {
    display: flex;
    justify-content: flex-end;
}

.course-card-container {
    margin: 0 24px;
}

.course-card-paper {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
    min-height: 120px;
    display: flex;
}

.course-card-content {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
}

.courseCardButtons {
    margin-left: 8px;
    align-self: center;
}
