.structure-type-tool-container {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.structure-type-tool-button {
    height: 40px;
    line-height:40px;
    padding: 0 10px;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.structure-type-tool-button:hover {
    cursor: pointer;
}
