.label-type-picker-container {
    display: flex;
    width: 100%;
}

.label-type-tab {
    background-color: #35363a;
    width: 100%;
    text-align: center;
    user-select: none;
}

.label-type-tab:hover {
    cursor: pointer;
}

.label-type-picker-container > element {
    flex-shrink: 0;
    flex-grow: 0;
}

.tool-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tool-type-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label-tool-button {
    height: 40px;
    line-height:40px;
    padding: 0 10px;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.label-tool-button:hover {
    cursor: pointer;
}

.utility-button-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    margin-top: 16px;
    width: min-content;
    gap: 16px;
}
