.root {
    background-color: #ccc;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 32px;
}

.page-container {
    width: min(75%, 800px);
    display: flex;
    flex-direction: column;
}

.title {
    align-self: center;
}

.page-navigation-bar {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.page-navigation-button {
    color: white;
    background-color: #500;
    border-width: 2px 2px 2px 0;
    border-color: #999;
    border-style: solid;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.25s;
    white-space: nowrap;
}

.page-navigation-button:hover {
    background-color: #732f2f;
}

.page-navigation-button:first-child {
    border-radius: 7px 0 0 7px;
    border-left-width: 2px;
}

.page-navigation-button:last-child {
    border-radius: 0 7px 7px 0;
}

.current-page-navigation-button {
    background-color: #854d4d;
}

.divider {
    width: min(70%, 750px);
    height: 1px;
    margin: 16px 0;
    background-color: #444;
    align-self: center;
}

.disclaimer {
    margin-top: 8px;
    max-width: min(75%, 800px);
    color: #444;
    align-self: center;
}

.footerLogoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerLogo {
    object-fit: contain;
    width: min(100%, auto);
    height: 80px;
}

.footerLogo:not(:last-child) {
    margin-right: 20px;
}
