.tool-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}

.utility-button-container {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    width: min-content;
    gap: min(1vw, 8px);
}
